{{ define "paginador" }}

<nav>
  <ul class="pagination">
    <li class="page-item">
      <button class="page-link" aria-label="Previous" type="submit" name="pp">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
		{{ $c := .Paginador.Actual }}
		{{ range .Paginador.Paginas }}
			<li class="page-item" hx-trigger="change">
				<label class="page-link {{ if eq $c . }}active{{ end }}">
					{{ . }} 
					<input class="d-none" {{ if eq $c . }}checked{{ end }} type="radio" name="p" value="{{ . }}" id="filtros"
					onchange="htmx.trigger('#all', 'submit')">
				</label>
			</li>
		{{ end }}
    <li class="page-item">
      <button class="page-link" aria-label="Next" type="submit" name="pn">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav>

{{ end }}
