<!-- Index -->

{{ define "usuarios_todos" }}

{{ template "head" . }}

<form hx-post="/api/usuarios/todos" hx-target="#usuarios">
	<div class="d-flex gap-3 flex-wrap flex-lg-nowrap">
		<div class="input-group flex-wrap">
			<select name="type" id="type" class="input-group-text">
				<option value="num_cuenta" select>Numero de cuenta</option>
				<option value="nombre">Nombre</option>
				<option value="apell_paterno">Apellido Paterno</option>
				<option value="apell_materno">Apellido Materno</option>
			</select>
			<input type="text" class="form-control" name="search" id="search" placeholder="Buscar usuario por..." aria-label="Buscar usuario por...">
			<button class="btn btn-outline-success" type="button" id="search-btn" hx-trigger="click" hx-post="/api/usuarios/todos" hx-target="#usuarios">Buscar</button>
		</div>
		<div class="input-group">
			<label for="er" class="input-group-text">Solo rol...</label>
			<select name="er" id="er" class="form-select" hx-post="/api/usuarios/todos" hx-target="#usuarios" id="filtros" hx-trigger="change">
				<option value="all" selected>Todos</option>
				<option value="administrativo">Administrativo</option>
				<option value="alumno">Alumno</option>
				<option value="invitado">Invitado</option>
			</select>
		</div>
	</div>


	<hr>

	<div id="msg" class="mt-2 mb-3 col-4"></div>
	<div id="usuarios" hx-post="/api/usuarios/todos" hx-trigger="load"></div>

</form>

{{ template "footer" . }}

{{ end }}



<!-- Tabla -->

{{ define "ut_tabla" }}

<p>Registros totales: {{ .Paginador.Cantidad }}</p>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Apellido Paterno</th>
			<th scope="col">Apellido Materno</th>
			<th scope="col">Rol</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	<tbody>
		{{ range .Usuarios }}
			<tr>
				<th scope="row">{{ .NumCuenta }}</th>
				<td>{{ .Nombre }}</td>
				<td>{{ .ApellPaterno }}</td>
				<td>{{ .ApellMaterno }}</td>
				<td>{{ .Rol }}</td>
				<td>
					<button class="btn btn-warning" type="button" name="u_data" value="{{ .NumCuenta }},{{ .Rol }}" 
						data-bs-toggle="modal" data-bs-target="#editModal"
						hx-post="/api/usuarios/editar" hx-trigger="click" hx-target="#m_edit">Editar</button>

					<button class="btn btn-danger" type="button" name="num_cuenta" value="{{ .NumCuenta }}"
						hx-post="/api/usuarios/eliminar" hx-trigger="click" hx-target="#msg" hx-on::after-request="document.getElementById('search-btn').click()">Eliminar</button></td>
			</tr>
		{{ end }}
	</tbody>
</table>

{{ template "paginador" . }}

<form class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar el usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="m_edit">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary"
					hx-post="/api/usuarios/update" hx-trigger="click" data-bs-dismiss="modal" hx-target="#msg" hx-on::after-request="document.getElementById('search-btn').click()"
					>Guardar cambios</button>
      </div>
    </div>
  </div>
</form>

{{ end }}



<!-- Editar -->
{{ define "u_edit_g" }}

<div class="d-flex gap-3 flex-column">

	<div class="input-group">
		<label for="num_cuenta" class="input-group-text">Numero de cuenta</label>
		<input type="text" class="form-control" id="num_cuenta" name="num_cuenta" value="{{ .NumCuenta }}">
	</div>

	<div class="input-group">
		<label for="nombre" class="input-group-text">Nombre</label>
		<input type="text" class="form-control" id="nombre" name="nombre" value="{{ .Nombre }}">
	</div>

	<div class="input-group">
		<label for="apell_paterno" class="input-group-text">Apellido Paterno</label>
		<input type="text" class="form-control" name="apellpaterno" id="apell_paterno" value="{{ .ApellPaterno }}">
	</div>

	<div class="input-group">
		<label for="apell_materno" class="input-group-text">Apellido Materno</label>
		<input type="text" class="form-control" name="apellmaterno" id="apell_materno" value="{{ .ApellMaterno }}">
	</div>

	<div class="input-group">
		<label for="rol" class="input-group-text">Rol</label>

		{{ $adm := "administrativo" }}
		{{ $alu := "alumno" }}
		{{ $inv := "invitado" }}

		<select name="rol" id="rol" class="form-select" hx-post="/api/usuarios/extra" hx-trigger="change" hx-params="rol,num_cuenta" hx-target="#e_data">
			<option value="{{ $adm }}" {{ if eq .Rol $adm }}selected{{ end }}>Administrativo</option>
			<option value="{{ $alu }}" {{ if eq .Rol $alu }}selected{{ end }}>Alumno</option>
			<option value="{{ $inv }}" {{ if eq .Rol $inv }}selected{{ end }}>Invitado</option>
		</select>
	</div>

	<div id="e_data" {{ if eq .Rol $inv }}class="d-none"{{ end }} hx-post="/api/usuarios/extra" hx-trigger="load" hx-params="rol,num_cuenta" hx-target="#e_data"></div>

</div>

{{ end }}



<!-- Administrativo -->

{{ define "ud_adm" }}

<div class="input-group">
	<label for="area" class="input-group-text">Area</label>
	<input type="text" class="form-control" name="area" value="{{ .area }}">
</div>

{{ end }}




<!-- Alumno -->
{{ define "ud_alu" }}

<div class="input-group">
	<label for="licenciatura" class="input-group-text">Licenciatura</label>
	<input type="text" class="form-control" name="licenciatura" value="{{ .licenciatura }}">
</div>

{{ end }}
